<div class="container">
    <!-- success message -->
    <div class="alert alert-success text-center" role="alert" *ngIf="showSuccessMsg">
        {{successMsg}}
    </div>
    <!-- error message -->
    <div class="alert alert-danger text-center" role="alert" *ngIf="showErrorsMsg">
        {{errorMsg}}
    </div>
</div>
<div class="container-fluid mt-5 ">
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 g-4 position-relative" style="min-height: 50px;">
        <div class="col" *ngFor="let trainer of trainers">
            <div class="card ">
                <div class="row">
                    <div class="col-md-5 p-2">
                        <div class="d-flex flex-column align-items-center">
                            <img class="rounded-circle"
                                *ngIf="trainer.image!='undefined' && trainer.image; else default" width="140px"
                                height="140px" src={{trainer.image}}>

                            <ng-template #default>

                                <img class="rounded-circle" width="140px" height="140px"
                                    src="../../../assets/profile.jpg">
                            </ng-template>
                            <span class="font-weight-bold m-1">
                                <h4>{{trainer.uname}}</h4>
                            </span>

                            <button type="button" class="btn btn-sm btn-outline-secondary mt-2"
                                (click)="enroll(trainer._id)">
                                Enroll Now !
                            </button>

                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="card-body d-flex flex-column">
                            <span class="font-weight-bold">
                                Training Area: {{trainer.area}}
                            </span>
                            <p class="card-text mt-2 overflow-auto">
                                {{trainer.description}}
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- spinner -->
        <div
            class="spinnerTrainers position-absolute w-100 h-100 d-flex flex-column align-items-center bg-transparant justify-content-center">
            <div class="spinner-border text-primary " style="width: 3rem; height: 3rem;" role="status"
                id="loadingTrainers">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <!-- spinner -->
    </div>
</div>