<!-- intro -->
<div class="container-fluid py-5 " style="background: linear-gradient(120deg, #162a46, #11002c);">

    <div class="container text-center text-white d-flex flex-column">
        <h1 class="fw-bolder">WE ARE FIT BUDDY</h1>
        <h3>Helping people live longer, happier and healthier</h3>
    </div>

</div>
<!-- intro -->

<!-- our values -->
<div class="container-fluid bg-white py-5">

    <div class="container text-center d-flex flex-column">
        <h1 class="fw-bolder" id="values">OUR VALUES</h1>

        <p><b>Our values made us success and helped customers to reach their fitness goals faster</b></p>

        <div class=" mt-5 mb-5 row justify-content-around">
            <div class="col-md-4 d-flex flex-column">
                <b><i class="bi bi-chat-dots" style="font-size: 50px;"></i></b>
                <h1 class="mt-2 fw-bolder">Chat</h1>
                <p>We provide real time chat facility to communicate with personal trainers
                    to personalize your training plans,discuss continuos progression
                    and feel like training at a gym
                </p>
            </div>
            <div class="col-md-4 d-flex flex-column  justify-content-center">
                <div class="row"></div>
                <img src="../assets/exercise.png" width="60px" class="img-fluid rounded  mx-auto">
                <h1 class="mt-2 fw-bolder">Exercises</h1>
                <p>We provide more than 1000 exercise with demonstration allows users do their
                    preferred exercises
                    at home without any hustle
                </p>
            </div>
            <div class="col-md-4 d-flex flex-column justify-content-center">
                <img src="../assets/trainer.png" width="60px" class="img-fluid rounded  mx-auto">
                <h1 class="mt-2 fw-bolder">Trainers</h1>
                <p>We have expert trainers with their unique and flexible training sessions that
                    drive you to<br>
                    reach your fitness goals faster
                </p>
            </div>
        </div>

    </div>
</div>
<!-- our values -->

<!-- our story -->
<div class="container-fluid " style="background: linear-gradient(120deg, #162a46, #11002c);">

    <div class="container text-center text-white py-5 d-flex flex-column">

        <h1 class="fw-bolder" id="story">OUR STORY</h1>
        <p><b> Fit Buddy was founded in 2022 as a website providing numerous exercises with live demonstration and one
                to one
                real time communication facility with
                personal trainers to train and be fit from home.</b></p>
        <p>
            Instead of being just another gym website, Fit Buddy wanted to be the best with more unique features
            that allows users to do their training in an easy and flexible manner. Moreover it's a pleasure for
            helping thousands of customers live longer, happier and healthier lives.</p>
    </div>
</div>
<!-- our story -->

<!-- our culture -->
<div class="container-fluid bg-white">

    <div class="container text-center py-5 d-flex flex-column">

        <h1 class="fw-bolder" id="culture">OUR CULTURE</h1>

        <p>
            We know that building a positive culture is incredibly important.
            We believe in encouraging, supporting, challenging, learning and growing to be the best!
            We’re committed to improving individuals' health, fitness, and well-being by supporting global and local
            charities, local sports teams, and events.</p>
    </div>
</div>
<!-- our culture -->

<!-- footer -->
<app-footer></app-footer>
<!-- footer -->