<!-- nav bar -->
<nav class="navbar navbar-light navbar-expand-md py-3 sticky-top">
  <div class="container">

    <!-- icon -->
    <a class="navbar-brand d-flex align-items-center " routerLink="" routerLinkActive="active-link">
      <img src="../assets/logo.jpg" class="img-fluid ">
     
    </a>
    <!-- icon -->

    <!-- collapse btn -->
    <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-3 " type="button"
      (click)="toggleCollapsed()">
      <span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span>
    </button>
    <!-- collapse btn -->

    <!-- nav links -->
    <div class="collapse navbar-collapse" id="navcol-3">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a id="home" class="nav-link" routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
            Home
          </a>
        </li>
        <li class="nav-item">
          <a id="trainer" class="nav-link" routerLinkActive="active-link" routerLink="trainersDetails"
            [routerLinkActiveOptions]="{ exact: true }">Trainers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active-link" routerLink='exercise'
            [routerLinkActiveOptions]="{ exact: true }">Exercises</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active-link" routerLink="aboutUs"
            [routerLinkActiveOptions]="{ exact: true }">About Us</a>
        </li>
      </ul>

      <div ngbDropdown class="dropdown" *ngIf="userSession || adminSession || trainerSession else default">
        <button ngbDropdownToggle class="btn p-0  bg-transparent" type="button" id="dropdownMenuButton1"
          aria-expanded="false">
          <img class="rounded-circle x" *ngIf="data.image!='undefined' && data.image else default" src={{data.image}}>
          <ng-template #default>

            <img class="rounded-circle bg-light p-0 " width="40px" height="40px" src="../../../assets/profile.jpg">
          </ng-template>
          {{data.uname}}
        </button>
        <ul ngbDropdownMenu aria-labelledby="dropdownMenuButton1">
          <li><a class="font-weight-bold" ngbDropdownItem routerLink={{path}}><i class="bi bi-speedometer2 "></i>
              Dashboard</a></li>
          <li><a class="font-weight-bold" ngbDropdownItem (click)="logOut()" routerLink=""><i
                class="bi bi-box-arrow-in-left"></i> Log out</a></li>

        </ul>
      </div>

      <ng-template #default>
        <button class="btn btn-primary ms-3" type="button" routerLink="login" id="log">Log In</button>
      </ng-template>


    </div>
    <!-- nav links -->
  </div>

</nav>
<!-- nav bar -->