<nav class="navbar navbar-light navbar-expand-md py-3 sticky-top">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center " routerLink="" routerLinkActive="active-link">
      <img src="../assets/logo.png" class="img-fluid py-1 rounded me-1" style="background-color: #6610f2;"><span>Gym
        Buddy</span></a>
    <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-3 " type="button"
      (click)="toggleCollapsed()">
      <span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navcol-3">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
            Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active-link" routerLink="trainersDetails"
            [routerLinkActiveOptions]="{ exact: true }">Trainers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active-link" routerLink='exercise'
            [routerLinkActiveOptions]="{ exact: true }">Exercises</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active-link" routerLink="aboutUs"
            [routerLinkActiveOptions]="{ exact: true }">About Us</a>
        </li>
      </ul>

      <div ngbDropdown class="dropdown" *ngIf="userSession || adminSession || trainerSession else default">
        <button ngbDropdownToggle class="btn p-0  bg-transparent" type="button" id="dropdownMenuButton1"
          aria-expanded="false">
          <img class="rounded-circle x" *ngIf="data.image!='undefined' && data.image else default" src={{data.image}}>
          <ng-template #default>

            <img class="rounded-circle " width="40px"
              src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
          </ng-template>
          {{data.uname}}
        </button>
        <ul ngbDropdownMenu aria-labelledby="dropdownMenuButton1">
          <li><a class="font-weight-bold" ngbDropdownItem routerLink={{path}}><i class="bi bi-speedometer2 "></i>
              Dashboard</a></li>
          <li><a class="font-weight-bold" ngbDropdownItem (click)="logOut()" routerLink=""><i
                class="bi bi-box-arrow-in-left"></i> Log out</a></li>

        </ul>
      </div>

      <ng-template #default>
        <button class="btn btn-primary ms-5" type="button" routerLink="login">Log In</button>
      </ng-template>


    </div>
  </div>
</nav>