li:hover {
    background-color: var(--secondary-color);
    color: white;
    border-radius: 10px;
}

li {
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
}

.active {

    background-color: var(--secondary-color);
    color: white;
    border-radius: 10px;
}

.active1 {
    background-color: #f7f7f7;
    border-bottom: 4px solid var(--outline-color);
}

.a {
    position: relative;
}

.b {
    position: absolute;
    top: 90px;
    margin-left: 70px;

}

#selectedImg {
    min-width: 120px !important;
    max-width: 120px !important;
    min-height: 120px !important;
    max-height: 120px !important;

}

.x {
    min-width: 40px !important;
    max-width: 40px !important;
    min-height: 40px !important;
    max-height: 40px !important;

}

.tab {
    cursor: pointer !important;
}


/*media query*/
@media only screen and (max-width: 767px) {
    #trainerCol {
        border-right: none !important;
        height: 200px !important;
        margin-bottom: 10px;
    }
    #profile{
        height: 320px !important;
    }
    #about{
        border-right: none !important;
    }

}