<router-outlet></router-outlet>

<div class="container">
    <!-- success message -->
    <div class="alert alert-success text-center" role="alert" *ngIf="showSuccessMsg">
        {{ successMsg }}
    </div>
    <!-- error message -->
    <div class="alert alert-danger text-center" role="alert" *ngIf="showErrorsMsg">
        {{ errorMsg }}
    </div>
</div>

<!-- profile -->
<div class="container rounded bg-white mt-5 mb-5 py-2">
    <!-- card -->
    <div class="row" style="min-height: 567px;">
        <!-- about -->
        <div class="col-md-3 border-end border-dark p-2" id="about" >

            <div>
                <h1 class="text-center">My Dashboard</h1>
            </div>
            <div class="d-flex flex-column align-items-center py-5 overflow-auto" id="profile" style="height: 467px">

                <img class="rounded-circle mt-0" id="selectedImg" *ngIf="profileImg; else default" width="120px"
                    [src]="profileImg" alt="profile image" />
                <ng-template #default>
                    <img class="rounded-circle mt-0" width="120px" src="../../../assets/profile.jpg" />
                </ng-template>

                <span class="text-black-50 mt-2">Name:{{ uname }} </span>
                <span class="text-black-50">Email:{{ email }}</span>
                <span class="text-black-50">Gender:{{ gender }}</span>
                <span class="text-black-50">Age:{{ age }} </span>

            </div>
            
        </div>
        <!-- about -->

        <div class="col-md-9 pd-5">
            <!-- Tabs navs -->
            <ul class="nav nav-tabs nav-justified mb-3 mt-4" style="border: none" id="ex1" role="tablist">
                <li class="nav-item tab-link tab me-1" role="presentation" (click)="onTabClick('update user')"
                    [class.active]="activeTab == 'update user'">
                    Update Account
                </li>
                <li class="nav-item tab me-1" role="presentation" (click)="onTabClick('trainers')"
                    [class.active]="activeTab == 'trainers'">
                    My Trainer
                </li>
                <li class="nav-item tab" role="presentation" (click)="onTabClick('chat')"
                    [class.active]="activeTab == 'chat'">
                    Chat
                </li>
            </ul>
            <!-- Tabs navs -->

            <!-- Tabs content -->
            <div class="tab-content">
                <!-- update user -->
                <div *ngIf="activeTab == 'update user'">
                    <div class="col-md-8 mx-auto">
                        <div class="p-2 py-1">
                            <form [formGroup]="userUpdateForm" (ngSubmit)="update(userUpdateForm)">
                                <div class="d-flex justify-content-center a mt-0">
                                    <img class="rounded-circle mt-0" id="selectedImg" *ngIf="imageData; else default"
                                        width="120px" [src]="imageData" alt="profile image" />
                                    <ng-template #default>
                                        <img class="rounded-circle mt-0" width="120px"
                                            src="../../../assets/profile.jpg" />
                                    </ng-template>
                                    <div class="btn rounded-circle b">
                                        <label class="form-label text-white m-1" for="customFile2"><i
                                                class="bi bi-camera-fill"></i></label>
                                        <input type="file" name="file" class="form-control d-none" id="customFile2"
                                            (change)="onImageSelect($event)" />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <label class="form-label">Name</label>
                                        <input type="text" class="form-control" name="uname" placeholder="Enter Name"
                                            [ngModel]="uname" formControlName="uname" [ngClass]="
                        (userUpdateForm.get('uname')!.touched ||
                          userUpdateForm.get('uname')!.dirty) &&
                        userUpdateForm.get('uname')!.errors
                          ? 'is-invalid'
                          : ''
                      " />
                                        <div class="invalid-feedback">Please enter a name</div>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col">
                                        <label class="form-label">Email</label>
                                        <input type="email" class="form-control" name="email" [ngModel]="email"
                                            placeholder="name@example.com" formControlName="email" [ngClass]="
                        (userUpdateForm.get('email')!.touched ||
                          userUpdateForm.get('email')!.dirty) &&
                        userUpdateForm.get('email')!.errors
                          ? 'is-invalid'
                          : ''
                      " />
                                        <div class="invalid-feedback">
                                            Please enter a valid email
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-2">
                                    <label for="type" class="form-label">Gender</label>
                                    <select class="form-select" name="type" formControlName="gender"
                                        (change)="changeType($event)">
                                        <option value="Male" selected [ngModel]="gender">
                                            Male
                                        </option>
                                        <option value="Female">Female</option>
                                    </select>
                                </div>
                                <div class="mt-2">
                                    <label for="age" class="form-label">Age</label>
                                    <input type="text" class="form-control" name="age" placeholder="Enter Age"
                                        [ngModel]="age" formControlName="age" [ngClass]="
                      (userUpdateForm.get('age')!.touched ||
                        userUpdateForm.get('age')!.dirty) &&
                      userUpdateForm.get('age')!.errors
                        ? 'is-invalid'
                        : ''
                    " />

                                    <div class="invalid-feedback">Please enter age</div>
                                </div>

                                <div class="mt-3 text-center">
                                    <button class="btn btn-custom" type="submit" [disabled]="userUpdateForm.invalid">
                                        Update
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- update user -->
            </div>
            <!-- Tabs content -->

            <!-- my trainers -->
            <div *ngIf="activeTab == 'trainers'">
                <!-- Tabs content -->
                <div class="tab-content">
                    <div class="tab-content" *ngIf="trainers?.length">
                        <div class="row p-3" style=" min-height: 468px">
                            <div class="col-md-5 border-end border-dark overflow-auto" id="trainerCol"
                                style="height: 460px">

                                <div class="card my-2">
                                    <div class="card-body p-0 tab" (click)="getTrainer(trainers[0]._id, 0)"
                                        [ngClass]="{ active1: isActive(0) }">
                                        <span>
                                            <img class="rounded-circle m-2 x" *ngIf="
                          trainers[0].image != 'undefined' && trainers[0].image;
                          else default
                        " src="{{ trainers[0].image }}" />
                                            <ng-template #default>
                                                <img class="rounded-circle m-2" width="40px"
                                                    src="../../../assets/profile.jpg" />
                                            </ng-template>
                                            {{ trainers[0].uname }}
                                        </span>
                                    </div>
                                </div>

                                <div class="card my-2 tab" *ngFor="let trainer of trainers | slice: 1"
                                    [ngClass]="{ active1: isActive(trainer) }">
                                    <div class="card-body p-0" (click)="getTrainer(trainer._id, trainer)">
                                        <span><img *ngIf="
                          trainer.image != 'undefined' && trainer.image;
                          else default
                        " class="rounded-circle m-2 x" src="{{ trainer.image }}" />
                                            <ng-template #default>
                                                <img class="rounded-circle m-2" width="40px"
                                                    src="../../../assets/profile.jpg" />
                                            </ng-template>
                                            {{ trainer.uname }}
                                        </span>
                                    </div>
                                </div>

                            </div>
                            <!-- trainer details -->
                            <div class="col-md-7 overflow-auto" style="height: 460px">
                                <div *ngIf="trainers?.length">
                                    <h1 class="text-center">Trainer Details</h1>
                                    <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                                        <img class="rounded-circle mt-0" id="selectedImg" *ngIf="
                        updateTrainerImg != 'undefined' && updateTrainerImg;
                        else default
                      " width="120px" [src]="updateTrainerImg" alt="profile image" />
                                        <ng-template #default>
                                            <img class="rounded-circle mt-0" width="120px"
                                                src="../../../assets/profile.jpg" />
                                        </ng-template>
                                        <span class="font-weight-bold mt-2">Name:{{ unameTrainer }}
                                        </span>
                                        <span class="text-black-50">Email:{{ emailTrainer }}</span>

                                        <span class="text-black-50">Area:{{ areaTrainer }}</span>
                                        <span class="text-black-50">{{ desTrainer }} </span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- Tabs content -->
            </div>
            <!-- my trainers -->

            <!-- chat -->
            <div *ngIf="activeTab == 'chat'">
                <!-- Tabs content -->
                <div class="tab-content">
                    <div class="tab-content" *ngIf="trainers?.length">
                        <div class="row p-3">
                            <div class="col-md-5 border-end border-dark overflow-auto" id="trainerCol" style="height: 460px">
                                <div class="card my-2">
                                    <div class="card-body p-0" (click)="getTrainer(trainers[0]._id, 0)"
                                        [ngClass]="{ active1: isActive(0) }">
                                        <span>
                                            <img class="rounded-circle m-2 x" *ngIf="
                          trainers[0].image != 'undefined' && trainers[0].image;
                          else default
                        " src="{{ trainers[0].image }}" />
                                            <ng-template #default>
                                                <img class="rounded-circle m-2" width="40px"
                                                    src="../../../assets/profile.jpg" />
                                            </ng-template>
                                            {{ trainers[0].uname }}
                                        </span>
                                    </div>
                                </div>

                                <div class="card my-2" *ngFor="let trainer of trainers | slice: 1"
                                    [ngClass]="{ active1: isActive(trainer) }">
                                    <div class="card-body p-0" (click)="getTrainer(trainer._id, trainer)">
                                        <span><img *ngIf="
                          trainer.image != 'undefined' && trainer.image;
                          else default
                        " class="rounded-circle m-2 x" src="{{ trainer.image }}" />
                                            <ng-template #default>
                                                <img class="rounded-circle m-2" width="40px"
                                                    src="../../../assets/profile.jpg" />
                                            </ng-template>
                                            {{ trainer.uname }}
                                        </span>
                                    </div>
                                </div>

                            </div>
                            <!-- chat -->
                            <div class="col-md-7">
                                <div class="card">
                                    <div class="card-header d-flex justify-content-between align-items-center p-2"
                                       >
                                        <h5 class="mb-0">Chat messages</h5>

                                    </div>
                                    <div #scrollMe class="card-body overflow-auto"
                                        style="position: relative; height: 350px">

                                        <div *ngIf="trainerMsgs.length>0 || userMsgs.length>0; else default2">
                                            <div *ngIf="userMsgs.length>=trainerMsgs.length; else default4">
                                                <div *ngFor="let msg of userMsgs; let i=index">



                                                    <div *ngIf="i<trainerMsgs.length else a">


                                                        <div
                                                            *ngIf="trainerMsgs[i].createdAt>=msg.createdAt; else default">


                                                            <div class="d-flex flex-row justify-content-end">
                                                                <p class="small mb-1">{{uname}}: (
                                                                    {{stringAsDate(msg.createdAt)}})
                                                                </p>
                                                            </div>
                                                            <div class="d-flex flex-row justify-content-end">
                                                                <p class="small p-2 mb-3 text-white rounded-3 "
                                                                    style="background-color:#0d6efd">
                                                                    {{msg.messages}}
                                                                </p>
                                                            </div>

                                                            <div class="d-flex justify-content-between">
                                                                <p class="small mb-1">{{unameTrainer}}: (
                                                                    {{stringAsDate(trainerMsgs[i].createdAt)}})</p>
                                                            </div>

                                                            <div class="d-flex flex-row justify-content-start">
                                                                <p class="small text-white p-2 mb-3 rounded-3"
                                                                    style="background-color: #11002c">
                                                                    {{trainerMsgs[i].messages}}
                                                                </p>
                                                            </div>




                                                        </div>

                                                        <ng-template #default>
                                                            <div class="d-flex justify-content-between">
                                                                <p class="small mb-1">{{unameTrainer}}: (
                                                                    {{stringAsDate(trainerMsgs[i].createdAt)}})</p>
                                                            </div>

                                                            <div class="d-flex flex-row justify-content-start">
                                                                <p class="small text-white p-2 mb-3 rounded-3"
                                                                    style="background-color: #11002c">
                                                                    {{trainerMsgs[i].messages}}
                                                                </p>
                                                            </div>

                                                            <div class="d-flex flex-row justify-content-end">
                                                                <p class="small mb-1">{{uname}}: (
                                                                    {{stringAsDate(msg.createdAt)}})
                                                                </p>
                                                            </div>
                                                            <div class="d-flex flex-row justify-content-end">
                                                                <p class="small p-2 mb-3 text-white rounded-3 "
                                                                    style="background-color:#0d6efd">
                                                                    {{msg.messages}}
                                                                </p>
                                                            </div>
                                                        </ng-template>

                                                    </div>
                                                    <ng-template #a>

                                                        <div class="d-flex flex-row justify-content-end">
                                                            <p class="small mb-1">{{uname}}: (
                                                                {{stringAsDate(msg.createdAt)}})
                                                            </p>
                                                        </div>
                                                        <div class="d-flex flex-row justify-content-end">
                                                            <p class="small p-2 mb-3 text-white rounded-3 "
                                                                style="background-color:#0d6efd">
                                                                {{msg.messages}}
                                                            </p>
                                                        </div>
                                                    </ng-template>







                                                </div>
                                            </div>
                                            <ng-template #default4>
                                                <div *ngFor="let tmsg of trainerMsgs; let i=index">

                                                    <div *ngIf="i<userMsgs.length else a">
                                                        <div
                                                            *ngIf="userMsgs[i].createdAt>=tmsg.createdAt; else default">
                                                            <div class="d-flex justify-content-between">
                                                                <p class="small mb-1">{{unameTrainer}}: (
                                                                    {{stringAsDate(tmsg.createdAt)}})</p>
                                                            </div>

                                                            <div class="d-flex flex-row justify-content-start">
                                                                <p class="small text-white p-2 mb-3 rounded-3"
                                                                    style="background-color: #11002c">
                                                                    {{tmsg.messages}}
                                                                </p>
                                                            </div>


                                                            <div class="d-flex flex-row justify-content-end">
                                                                <p class="small mb-1">{{uname}}: (
                                                                    {{stringAsDate(userMsgs[i].createdAt)}})
                                                                </p>
                                                            </div>
                                                            <div class="d-flex flex-row justify-content-end">
                                                                <p class="small p-2 mb-3 text-white rounded-3 "
                                                                    style="background-color:#0d6efd">
                                                                    {{userMsgs[i].messages}}
                                                                </p>
                                                            </div>


                                                        </div>

                                                        <ng-template #default>


                                                            <div class="d-flex flex-row justify-content-end">
                                                                <p class="small mb-1">{{uname}}: (
                                                                    {{stringAsDate(userMsgs[i].createdAt)}})
                                                                </p>
                                                            </div>
                                                            <div class="d-flex flex-row justify-content-end">
                                                                <p class="small p-2 mb-3 text-white rounded-3 "
                                                                    style="background-color:#0d6efd">
                                                                    {{userMsgs[i].messages}}
                                                                </p>
                                                            </div>
                                                            <div class="d-flex justify-content-between">
                                                                <p class="small mb-1">{{unameTrainer}}: (
                                                                    {{stringAsDate(tmsg.createdAt)}})</p>
                                                            </div>

                                                            <div class="d-flex flex-row justify-content-start">
                                                                <p class="small text-white p-2 mb-3 rounded-3"
                                                                    style="background-color: #11002c">
                                                                    {{tmsg.messages}}
                                                                </p>
                                                            </div>


                                                        </ng-template>
                                                    </div>
                                                    <ng-template #a>
                                                        <div class="d-flex justify-content-between">
                                                            <p class="small mb-1">{{unameTrainer}}: (
                                                                {{stringAsDate(tmsg.createdAt)}})</p>
                                                        </div>

                                                        <div class="d-flex flex-row justify-content-start">
                                                            <p class="small text-white p-2 mb-3 rounded-3"
                                                                style="background-color: #11002c">
                                                                {{tmsg.messages}}
                                                            </p>
                                                        </div>


                                                    </ng-template>

                                                </div>
                                            </ng-template>

                                        </div>
                                        <ng-template #default2>
                                            <h5 class="text-center">Start A New Conversation</h5>
                                        </ng-template>
                                    </div>

                                    <div
                                        class="card-footer text-muted d-flex justify-content-start align-items-center p-3">

                                        <div class="input-group mb-0">

                                            <input type="text" class="form-control" name="messages"
                                                placeholder="Type message" [(ngModel)]="newMessage" />
                                            <button class="btn " type="submit" (click)="sendMessage()"
                                                [disabled]="newMessage===''" style="padding-top: 0.55rem">

                                                Send
                                            </button>

                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Tabs content -->
            </div>
            <!-- chat -->
        </div>
    </div>
    <!-- card -->
</div>