<div class="container">
  <div class="card mx-4 mb-3 sticky " >
    <div class="card-body">
        <footer class="py-3 my-4">
            <ul class="nav justify-content-center pb-3 mb-3">
              <li class="nav-item"><a routerLink="" class="nav-link px-2 text-muted" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
              <li class="nav-item"><a  class="nav-link px-2 text-muted" routerLinkActive="active-link" routerLink="trainersDetails" [routerLinkActiveOptions]="{ exact: true }">Trainers</a></li>
              <li class="nav-item"><a href="#" class="nav-link px-2 text-muted" routerLinkActive="active-link" routerLink='exercise'[routerLinkActiveOptions]="{ exact: true }">Exercises</a></li>
              <li class="nav-item"><a href="#" class="nav-link px-2 text-muted" routerLinkActive="active-link" routerLink="aboutUs" [routerLinkActiveOptions]="{ exact: true }">About Us</a></li>
            </ul>
            <p class="text-center">© 2022 Gym Buddy</p>
          </footer>
    </div>
  </div>
</div>
