<div class="container">
<div class="card mx-4 mb-3 sticky">
  <div class="card-body">
    <div class="container">
      <div class="row" id="banner">
        <div class="col">
          <div class="row">
            <p id="title"><span>THE BEST sdas </span>FITNESS PLATFORM</p>
          </div>

          <div class="row" id="heading">
            <p>
              BE <span style="color: #f48e16">FIT</span><br />
              <span style="color: #f48e16">STAY</span> HEALTHY
            </p>
          </div>
          <div class="row">
            <h5>
              We provide everything you need to transform your body & mindset !
            </h5>
          </div>
          <div class="row" id="counter">
            <div class="col">
              <div class="row"><h3 class="count">100</h3></div>
              <div class="row"><h4>Exercisers</h4></div>
            </div>
            <div class="col">
              <div class="row"><h3 class="count">100</h3></div>
              <div class="row"><h4>Members Joined</h4></div>
            </div>
            <div class="col">
              <div class="row"><h3 class="count">100</h3></div>
              <div class="row"><h4>Trainers</h4></div>
            </div>
          </div>
          <br>
          <button class="btn btn-primary" type="button" routerLink="login">Get Started</button>
        </div>
        <div class="col" id="banner-img">
          <div class="row">
            <img
              id="img"
              src="../assets/image-removebg-preview.png"
              alt="banner image"
              style="
                background-position: center;
                background-size: cover;
                max-height: 500px;
                max-width: 500px;
                margin: auto;
              "
            />
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
</div>
