<div class="container mb-5 ">
<!-- 
    <div class="card rounded mx-4 mb-3 mt-3 p-4" id="why">
        <div class="row">
            <div class="cols-md-6">
                <h1>WHY CHOOSE US ?</h1>
            </div>
            <div class="cols-md-6">
                <div class="row">
                    <img src="../assets/whyus1.jpg" class="img-fluid">
                </div>
                
            </div>
        </div>
    </div> -->
    <div class="card mx-4 mb-3 mt-3 p-4" id="why">
        <div class="row g-0">
          <div class="col-md-6 col-sm-12 col-xs-3" >
            <img src="../assets/whyus1.jpg" class="img-fluid rounded h-100 ">
          </div>
          <div class="col-md-6 col-sm-12 col-xs-9">
            <div class="card-body d-flex flex-column ms-2 ">
                <h1>WHY CHOOSE US ?</h1>
                <div class="d-inline-flex mt-4">
                  <i class="bi bi-check-square fa-7x me-4 left" style="color:#0d6efd;"></i><p> EXPERT COACHES</p>
                </div>
                <div class="d-inline-flex mt-4 ">
                  <i class="bi bi-check-square fa-7x me-4" style="color:#0d6efd;"></i><p>OVER 1000 DIFFERENT EXERCISES</p>
                </div>
                <div class="d-inline-flex mt-4 ">
                 
                  <i class="bi bi-check-square fa-7x me-4" style="color:#0d6efd;"></i><p>EXERCISE DEMONSTRATION MADE TRAINING SMARTER AND FASTER</p>
                </div>
                <div class="d-inline-flex mt-4 ">
                 
                  <i class="bi bi-check-square fa-7x me-4" style="color:#0d6efd;"></i><p>CHAT WITH TRAINERS IN REALTIME</p>
                </div>
                <div class="d-inline-flex mt-4 ">
                             
                  <i class="bi bi-check-square fa-7x me-4" style="color:#0d6efd;"></i><p>FLEXIBILITY</p>
                </div>

                
                
              
    

             
             
            </div>
          </div>
        </div>
      </div>
</div>