<router-outlet></router-outlet> 
<div class="container" >
    <div class="card_register rounded">
        <div class="right_div overflow-auto">
            <form >
                <h2><b>Sign up</b></h2>
                <hr>
    
                <div class="mb-2" >
                    <label for="Uname" class="form-label">User Name</label>
                    <input type="text" class="form-control " name="Uname" placeholder="Enter User Name" required>
                   
                    <div class="invalid-feedback">
                        Please enter user name
                    </div>
                </div>
                <div class="mb-2" >
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" name="email" placeholder="name@example.com" required>
                    <div class="invalid-feedback">
                        Please enter a valid email
                    </div>
                </div>
                <div class="mb-2">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Enter Password" minlength="8" required>
                    <div class="invalid-feedback">
                        Password must be at least 8 characters.
                    </div>
                </div>
                
                <div>
                    <p style="font-size: 10px;">By clicking Sign Up, you agree to our Terms, Privacy Policy and Cookies Policy.</p>
                </div>
                <div class="d-grid gap-2 mx-auto">
                    <button class="btn btn-primary" type="submit">Sign Up</button>
                </div>
                <br>
                <div>
                    <p style="text-align: center;font-size: 14px;">All ready have an Account ? <a routerLink="/login">Log In</a></p>
                </div>
               
            </form>
        </div>
        <div class="left_div">
            <img src="../assets/signup.png">
        </div>
    </div>
    </div>
   