<router-outlet></router-outlet>
<!-- target bodyparts -->
<div class="container-fluid bg-white py-5 ">

    <div class="container">
        <!-- error message -->
        <div class="alert alert-danger text-center" role="alert" *ngIf="showErrorsMsg">
            {{errorMsg}}
        </div>
        <h1 class="text-center">Target Body Area</h1>
        <!-- body part card -->
        <div class="mt-3 mb-5 ms-2 row  row-cols-8 row-cols-xs-3 row-cols-sm-8 row-col-md-10 g-2 position-relative "
            style="min-height: 50px;">

            <div class="col" *ngFor="let bodyPart of bodyParts">
                <div class="card rounded card-b" [ngClass]="{active1: isActive(bodyPart)}"
                    (click)="getSpecificExercise(bodyPart)">
                    <div class="card-body d-flex align-items-center justify-content-center">
                        <p class="card-text text-uppercase ">{{bodyPart}} </p>
                    </div>
                </div>
            </div>
            <!-- spinner -->
            <div
                class="spinnerBody position-absolute w-100 h-100 d-flex flex-column align-items-center bg-transparant justify-content-center">
                <div class="spinner-border text-primary " style="width: 3rem; height: 3rem;" role="status"
                    id="loadingBodyParts">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            <!-- spinner -->
        </div>
        <!-- body part card -->

    </div>

</div>
<!-- target bodyparts -->

<!-- exercise -->
<div class="container-fluid py-5" style="background: linear-gradient(120deg, #162a46, #11002c);">
    <div class="container ">
        <h1 class="text-center text-white">Explore Exercisers</h1>
        <!-- exercise outer card -->
        <div class="card rounded mx-4 mb-3 mt-3 p-4 " id="exercise">
            <h5 class="text-uppercase text-center">{{type}}</h5>
            <div class=" mt-2 row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3 position-relative"
                style="min-height: 50px;">
                <!-- exercise card -->
                <div class="col " *ngFor="let exercise of allExercises | slice :0:8" [routerLink]="['/exerciseDetails']"
                    [queryParams]="{id:exercise.id}">
                    <div class="card gif rounded " id="exercise-card">
                        <div class="row">
                            <img [src]="exercise.gifUrl" alt="">
                        </div>
                        <div class="row" id="row">
                            <div class="card-body">
                                <div class="card-text text-center text-uppercase">{{exercise.name}}</div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- exercise card -->

                <!-- spinner -->
                <div
                    class="spinnerExercises position-absolute w-100 h-100 d-flex flex-column align-items-center bg-transparant justify-content-center">
                    <div class="spinner-border text-primary " style="width: 3rem; height: 3rem;" role="status"
                        id="loadingExercises">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
                <!-- spinner -->

            </div>

            <!-- view button -->
            <div class="d-flex justify-content-center">
                <button class="btn mt-5 col-md-4" [routerLink]="['/allExercises']"
                    [queryParams]="{id:selectedBodyPart,type:type}">View more</button>
            </div>
            <!-- view button -->

        </div>
        <!-- exercise outer card -->
    </div>

</div>
<!-- exercise -->