.card-b {
    
    min-height: 100px;
    max-height: 100px;
   
    margin-right: 10px;
    
    background-color: var(--primary-color);
    box-shadow: 6px 6px 10px var(--secondary-color);
    color: white;
    font-size: small;
    cursor: pointer;

    
}
.card-b:hover{
    background-color:var(--secondary-color) ;
    box-shadow: 6px 6px 10px var(--primary-color);
    font-weight: bold;

}
#row{
    min-height: 85px;
}
#heading {
    font-weight: bold;
    color: white;
    text-align: center;
}
.gif{
    background-color: var(--card-color);
    box-shadow: 6px 6px 10px var(--secondary-color);
    color: white;
    cursor: pointer;
}
.active{
   
    background-color: var(--secondary-color);
    color: white;
    border-radius: 10px;
}
.active1{
    background-color: var(--secondary-color);
    box-shadow: none;
}
#exercise{
    background-color: var(--primary-color);
    box-shadow: 6px 6px 18px var(--secondary-color);
    color: white;
}
#exercise-card:hover{
    background-color:var(--secondary-color) ;
    box-shadow: none;
    font-weight: bold;

}