/* You can add global styles to this file, and also import other style files */
*{
    padding: 0;
    margin: 0;
}
:root{
    /* --primary-color:#5e4d4a;
    --secondary-color:#f48e16;
    --card-color:#373d41;
    --shadow-color:#f8a03c;
    --row-color:#393d43; */
    --primary-color: #11002c;
    --secondary-color: #6610f2;
    --outline-color: #0d6efd;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background: linear-gradient(120deg, #152040, #11002c);
}

.btn{
    background-color: var(--secondary-color);
    color: white;
    font-weight: bold;
    border: none;
    outline: var(--secondary-color)!important;
}
.btn:hover{
    background-color: var(--outline-color);
    color: white;
}
.btn:focus{
    background-color: var(--secondary-color) ;
    outline: var(--secondary-color) !important;
    box-shadow: none;
}



@media (max-width: 800px) {
    body{
        font-size: small;
    }
}
@media (max-width: 290px) {
    body{
        font-size:x-small;
    }
    
}